# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# pytest cache
.pytest_cache/

# ruff cache
.ruff_cache/

# Coverage output
htmlcov/
.coverage
coverage.xml

# Virtual environments (se estiver usando local)
.venv/
venv/

# IDEs
.vscode/
.idea/

# Sistema operacional
.DS_Store
Thumbs.db
